body{
      background-color: rgb(247, 240, 240);
}
.bululo{
            margin-right: 30px;
}
/*button:last-of-type{
      background-color: transparent;
}
input{
      background-color: transparent;
}*/
table-primary

a{
      text-decoration: none;
}
a:last-of-type{
      margin-right: 5px;
}
.sign:hover{
         color: black;
}
.fu{
      margin-left: 30%;
}