body{
      background-color: rgb(218, 207, 207);
}
form{
       align-content: center;
}
.bululo{
            margin-right: 30px;
}
/*button:last-of-type{
      background-color: transparent;
}
input{
      background-color: transparent;
}*/
form{
      width: 30%;
      margin-right: 15%;
      
}

a{
      text-decoration: none;
}
a:last-of-type{
      margin-right: 5px;
}
.sign:hover{
         color: black;
}
.fu{
      margin-left: 30%;
}